@import './base/reset.css';
@import './base/colors.css';
@import './base/fonts.css';
@import './components/nav_bar.css';
@import './components/questions_form.css';
@import './components/canvas.css';
@import './components/signup_form.css';
@import './components/login_form.css';
@import './components/tasks_container.css';
@import './components/splash.css';
@import './components/team_members.css';
@import './components/about_section.css';

#app_container {
    display: flex;
    justify-content: center;
    height: 100vh;
    transition: all .5s ease;
    background-color: var(--dark-blue);
}

::-webkit-scrollbar {
    padding-top: 3px;
    width: 6px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: var(--hover-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;
}

 ::-webkit-scrollbar-thumb:hover {
    background: var(--active-color);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}