.points_container {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: (-50%, -50%);
}

.canvas_container {
    font-family: var(--font-arial);
    margin-top: 50px;
    margin-bottom: 15px;
    margin-left: 215px;
    margin-right: 215px;
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tooltip {
    background:#fd9; 
    padding:10px; 
    border-style: solid;
}
.tooltip a {
    text-decoration: underline;
    color: blue;
}
