.points_container {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: (-50%, -50%);
}

.canvas_container {
    margin-top: 50px;
    margin-bottom: 5px;
    margin-left: 215px;
    margin-right: 215px;
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


