.nav_bar_container {
    position: absolute;
    width: 100%;
    top: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--highlight);
    font-size: 24px;
    font-family: var(--font-arial);
    z-index: 1;

    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 14.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
     -ms-animation: fadein 4s; /* Internet Explorer */
      -o-animation: fadein 4s; /* Opera < 14.1 */
         animation: fadein 4s;
}

.nav_bar_container a {
    display: flex;
    align-items: center;
}

.nav_bar_container h1:hover {
    color: white
}

.nav_bar_buttons_container {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-around;
}

.nav_bar_logout {
    position: relative;
    left: 100px;
}

.nav_bar_login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: var(--highlight);
    color: var(--dark-blue);
    border-radius: 5px;
    padding: 5px;
    width: 70px;
}

.nav_bar_login:hover {
    background-color: var(--dark-blue);
    color: var(--highlight);
    border: 1px solid var(--highlight);
}