#questions_form {
    padding: 5px;
    color: black;
    background-color: rgba(233, 109, 187, 0.95);
    position: absolute;
    top: 80px;
    left: 10px;
    border-radius: 7px;
    z-index: 1;
    padding: 5px;
}

.questions_form_item {
    display: flex;
    font-family: var(--font-arial);
    align-items: center;
    
}
j
.questions_form_item > button {
    padding: 10px;
    border-radius: 7px; 
    margin: 3px;
}

.questions_form_button {
    background-color: rgb(252, 212, 82);
    border-radius: 5px; 
    padding: 2px;
    margin: 2px 0px 2px 0px;
}

.questions_form-title {
    display: flex;
    justify-content: center;
}
