#questions_form {
    padding: 5px;
    color: black;
    background-color: wheat;
    position: absolute;
    top: 80px;
    left: 10px;
    border-radius: 7px;
    z-index: 1;
    padding: 5px;
    width: 150px;
    height: 500px;
    overflow: scroll;
}

.questions_form_item {
    display: flex;
    font-family: var(--font-arial);
    align-items: center;
    
}

.questions_form_item > button {
    padding: 10px;
    border-radius: 7px; 
    margin: 3px;
}

.questions_form_button {
    background-color: rgb(252, 212, 82);
    border-radius: 5px; 
    padding: 4px;
    margin: 2px 0px 2px 0px;
}

.questions_form-title {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 4px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.questions_form_item {
    padding: 3px;
}

.questions_form_icon {
    margin-right: 3px;
}

