.signup_form_container {
    position: absolute;
    right: 15px;
    top: 60px;
    z-index: 5;
    padding: 5px;
    background-color: rgba(99, 199, 199, 0.8);
    color: white;
    border-radius: 7px;
}

.signup_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-arial);
}

.signup_form > input {
    background-color: white;
    margin: 5px;
    padding: 4px;
    border-radius: 3px;
    color: black;
}

.session_demo_user {
    margin-top: 5px;
    padding: 4px;
    background-color:  rgba(233, 109, 187, 1);
    border-radius: 5px;
}