.right_sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    bottom: 5px;
    right: 5px;
    top: 50px;
    margin-bottom: 15px;
    margin-top: 25px;
    max-height: 100%;
}

.tasks_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 1px solid var(--highlight);
    border-radius: 7px;
    width: 200px;
    height: 40%;
    box-sizing: border-box;
    background-color: var(--dark-blue);
    color: var(--highlight);
    padding: 5px;
    padding-top: 0px;
    transition: all .5s ease;
 
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}

.task_is_expanded {
    width: 40vw;
}
.task_list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.task_list_title {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -13px;
    background-color: var(--dark-blue);
    width: 44px;
    font-weight: 200;
    margin-right: 70px;
}


.task_arrow {
    margin-left: 5px;
    margin-right: auto;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.task_arrow:hover {
    background-color: var(--hover-color);
}

.task_arrow_expanded {
    /* color: #66bb6a; */
    -webkit-animation:spin .5s linear 1;
    -moz-animation:spin .5s linear 1;
    animation:spin .5s linear 1;
    animation-fill-mode: forwards;
}

.task_arrow_collapse {
    -webkit-animation:spin2 .5s linear 1;
    -moz-animation:spin2 .5s linear 1;
    animation:spin2 .5s linear 1;
    animation-direction: reverse;
    /* animation-fill-mode: backwards;
     */
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-180deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-180deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-180deg); transform:rotate(-180deg); } }

@-moz-keyframes spin2 { 100% { -moz-transform: rotate(-180deg); } }
@-webkit-keyframes spin2 { 100% { -webkit-transform: rotate(-180deg); } }
@keyframes spin2 { 100% { -webkit-transform: rotate(-180deg); transform:rotate(-180deg); } }

.task_item_container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 1px solid var(--hover-color);
    margin-right: 3px;
    padding: 3px;
}

.task_item_container h1 {
    font-size: large;
}

.task_item_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
}

.task_item_header:hover {
    background-color: var(--hover-color);
}

.task_item_header:hover {
    cursor: pointer;
}

.task_item_name {
    display: flex;
    align-items: center;
}

.task_item_name > svg {
    margin-right: 8px;
}

.task_item_checkbox {
    visibility: hidden;
}


.caret_up {
    transform: rotate(-90deg);
    transition: all .3s ease;
}

.caret_down {
    transition: all .3s ease;
}

.task_item {
    display: none;
    position: relative;
    transition: all .5s ease;
    height: 20px;
}

.task_item_open {
    display: inline-block;
    transform: translateX(0);
    transform-style: flat;
    transition: all .5s ease;
    animation: slide-up .4s ease;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}